@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
:root{
    --bar-color-1: #1179EC;
    --bar-color-2: #F6D200;
    --green-semi: #2C9143;
}
*{
padding: 0;
margin: 0;
color: white;
}

#cityPicture{
    width: 5%;
    height: auto;
}
#mainHome{
    padding-top: 10vh;
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#topSegment{
    display: flex;
    flex-direction: row;
    height: 100%;
}
#topMainContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
#topMainContentLeft{
    grid-area: 1 / 1 / 2 / 2; 
}
#barWrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#bar1, #bar2{
    width: 2.5vw;
    border-radius: .5vmin;
}
#bar1{
    background-color: var(--bar-color-1);
    height: 10vh;
    margin-right: .5vw;
}
#bar2{
    height: 6vh;
    background-color: var(--bar-color-2);
}
#sideSegment{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    margin-right: 10%;
}
#satisifedClients{
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    width: 5vw;
    left: 10.5%;
}
#clientsPercent{
    position: absolute;
    font-size: 2rem;
    top: 24.5vh;
    left: 8.5vw;
}
#topMainContent{
    margin-top: 3vh;
}
#topMainContentLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%; 
    width: 40vw;
}
#mainHeader{
    letter-spacing: .2rem;
    font-size: 4.8rem;
    font-weight: lighter;
    line-height: 4.5rem;
    font-family: Ultra;
}
#mainInfo{
    font-size: 1.15rem;
    width: 90%;
}
#findHome{
    font-weight: bold;
    background-color: var(--bar-color-1);
    border: none;
    width: 25%;
    height: 12.5%;
    border-radius: 4vmin;
}
#topMainContentRight{
    padding-left: 5vw;
}
#yellowSemiCircle{
    width: 7.5vw;
    background-color: var(--bar-color-2);
    height: 7.5vw;
    border-radius: 7.5vw 0 0 0;
    position: absolute;
    z-index: 0;
    transform: translateX(-99%);
}
#blueQuarterCircle{
    width: 4vw;
    height: 4vw;
    border-radius: 0 0 0 4vw;
    background-color: var(--bar-color-1);
    position: absolute;
    transform: translate(-99%, 190%);
}
#buildingPicture{
    width: 22.5vw;
    border-top-right-radius: 7vmin;
    border-bottom-left-radius: 7vmin;
}
#greenCircleWrapper{
    width: 10vw;
    height: 5vw;
    border-radius: 0 0 5vw 5vw;
    background-color: var(--green-semi);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(150%, -125%);
}
#greenSemiCircle{
    font-family: Ultra;
    margin-bottom: 5%;
    font-size: 1.5rem;
    color: var(--bar-color-2);
    font-weight: 400;
}
#bottomSegment{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5vh;
}
#cityPicture{
    width: 30vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 2vmin;
}
#customerServiceWrapper{
    width: 12.5vw;
    height: 10vw;
    background-color: white;
    border-radius: 2vmin;
    position: absolute;
    transform: translate(175%, -75%);
}
#customerServiceIcon{
    position: relative;
    transform: translate(25%, 25%);
}
#customerServiceText{
    color: black;
    position: relative;
    font-size: 1.5rem;
    transform: translate(7.5%, 30%);
}
#bottomContentRight{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40vw;
}
#bottomContentHeader{
    font-size: 3.5rem;
    font-weight: 600;
}
#bottomContentInfo{
    width: 60%;
    font-size: 1rem;
}
/*
.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 9px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
*/
#bottomContentRightFooter{
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0px;
    border-top: 1px solid white;
}
.bottomContentCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-right: 2.5rem;
}
.bottomContentCard:not(:last-child){
    border-right: 1px solid white;
}
.bottomCardHeader{
    font-weight: bolder;
}
.bottomCardLabel{
    font-size: 1rem;
}
@media(min-width: 1500px){
    #topSegment{
        height: 40vh;
    }
    #buildingPicture{
        height: 40vh;
        width: auto;
    }
    #bottomSegment{
        height: 32.5vh;
        margin-bottom: 0;
        margin-top: 7.5vh;
    }
    #customerServiceText{
    font-size: 2.5rem;
    }
    #bottomContentHeader{
        font-size: 5rem;
    }
    #bottomContentInfo{
        width: 60%;
        font-size: 1.5rem;
    }
    #bottomContentRightFooter{
        margin-top: 7.5%;
    }
    #greenCircleWrapper{
    transform: translate(90%, -125%);
    }
    #mainInfo{
        font-size: 2rem;
    }
    #findHome{
        font-size: 1.5rem;
    }
}
